<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <connectionStrings>
    <add name="MySQLResnet680" connectionString="server=devdb01.res.net; Port=3306; User ID=appwrite; Password=JulesVerneWrite; Database=resnet; Connection Lifetime=200; Pooling=true;"/>
  </connectionStrings>
  <appSettings>
    <add key="DbConnectionString" value="MySQLResnet680" />
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="valOrdTempFileDir" value="C:\temp\CMS\TestXmls"/>
    <add key="valOrdRequestAccept" value="text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"/>
    <add key="valOrdRequestContentType" value="text/xml; encoding='utf-8'"/>
    <add key="valOrdRequestMediaType" value=""/>
    <add key="valOrdRequestTimeoutMs" value="180000"/>
    <add key="valOrdMaxFileSize" value="100000"/>
    <add key="valOrdSaveBpoPdfDir" value="C:\temp\CMS\TestXmls\Pdf"/>
    <add key="valOrdSaveAprPdfDir" value="C:\temp\CMS\TestXmls\Pdf"/>
    <add key="valOrdSaveFileTypes" value="Report,UCDPReadyFile,Review Scope,Valuation Independence Letter,Customer Invoice (System),Appraisal Invoice,Other Documents,Review"/>
    <add key ="valOrdSaveFileExts" value="UCDPReadyFile=UCDPRReady.xml,Review Scope=ReviewScope.pdf,Valuation Independence Letter=ValIndLetter.pdf,Customer Invoice (System)=Invoice.pdf,Appraisal Invoice=AprInvoice.pdf,Other Documents=Other.pdf,Review=Review.pdf"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <log4net>
    <root>
      <level value="DEBUG"/>
      <!--values are (low to high) ALL,DEBUG,INFO,WARN,ERROR,FATAL,OFF-->
      <appender-ref ref="LogFileAppenderError"/>
      <appender-ref ref="LogFileAppenderDebug"/>
    </root>
    <appender name="LogFileAppenderError" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN"/>
        <levelMax value="FATAL"/>
      </filter>
      <!-- Error Log File -->
      <File value="c:/Logs/ReceiveFromCMS.error.log"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <AppendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="4MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%-5p %d{yy.MM.dd hh:mm:ss}-%method: %m%n"/>
      </layout>
    </appender>
    <appender name="LogFileAppenderDebug" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="INFO"/>
      </filter>
      <!-- Debug Log File -->
      <File value="c:/Logs/ReceiveFromCMS.debug.log"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <AppendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="4MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%-5p %d{yy.MM.dd hh:mm:ss}-%method: %m%n"/>
      </layout>
    </appender>
  </log4net>

</configuration>